{{define "signup"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSA</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <form method="post" action="/signup">
      <input required name="email" type="email" placeholder="Email" />
      <input required name="password" type="password" placeholder="Password" />

      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
{{end}}
