{{define "signup"}}
<h1 class="mt-8 mb-16 text-center font-extrabold text-5xl">Sign Up</h1>

<form hx-post="/users/signup" hx-ext="json-enc" class="flex flex-col gap-4">
  <input
    required
    name="email"
    type="email"
    placeholder="Email"
    class="p-2 rounded bg-slate-800 hover:bg-slate-700 focus:bg-slate-700 transition-colors"
  />

  <input
    required
    name="password"
    type="password"
    placeholder="Password"
    class="p-2 rounded bg-slate-800 hover:bg-slate-700 focus:bg-slate-700 transition-colors"
  />

  <button
    type="submit"
    class="mt-2 p-1 rounded bg-slate-800 hover:bg-slate-700 active:bg-slate-900 transition-colors"
  >
    Sign Up
  </button>
</form>
{{end}}
